@charset "UTF-8";

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: #444466;
    color: aliceblue;
    font-family: monospace;
    overflow-y:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input{
    text-align: center;
}

.hidden{
    display: none;
}

.no-close .ui-dialog-titlebar-close {display: none }

div#event_name{
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
    border-bottom: solid 1px #f0f8ff;
    height: 5%;
    padding-top: 1%;
    width: inherit;
}

div#toolbar{
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: right;
}

div#toolbar .ui-button.ui-widget{
    width: 2em;
    height: 2em;
}

div#toolbar .ui-button.ui-widget .ui-button-text{
    line-height: 5em;
    font-size: 5em;
}

/* index.php */
div#categories_container{
    float:left;
    width: 65%;
    height: inherit;
    overflow-y: scroll;
    padding: 0 1%;
    font-size: 1.2em;
}
div#controls_container{
    float:left;
    width: 30%;
    height: 100%;
    padding: 1%;
    font-size: 1.5em;
}
div#order_container{
    height: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 2%;
    margin-top: 5px;
    border: solid 1px #f0f8ff;
}

div.order_item{
    width: 100%;
    text-align: left;
    padding-left: 4px;
}

div#total_container{
    text-align: right;
    vertical-align: middle;
    overflow-y: hidden;
    height: 10%;
}

div#total_container input{
    font-size: 1.6em;
}

div#confirm_container{
    text-align: right;
    height: 20%;
}
 
div#event_name_category{
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
    padding: 10px 0 0 0;
    width: 100%;
}

div.category{
    float: left;
    /*min-width: 380px;
    max-width: 39em;*/
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
div.category_name{
    font-weight: bold;
    font-size: 1.5em;
}

div.item_container{
    float: left;
    margin: 0;
}

div.sold_item{
    float: left;
    width: 10%;
    text-align: center;
    margin: 0;
    cursor: default;
}

div.item{
    float: left;
    width: 78%;
    overflow: hidden;
    margin: 0;
}

input.qty_item{
    margin-top: -4px;
}

div.minus_item{
    float: left;
    width: 10%;
    margin: 0;
}

.button_plus_item,.button_minus_item{
    font-size: 0.6em !important;
    margin-top: -2px;
}

/* manage.php */
div#mng_cat_container{
    width: 90%;
    margin: 0 auto;
}
input#mng_save{
    float: right;
    margin: 10px 0;
}

button#mng_newevent{
    position:absolute;
    top: 5px;
    left: 5px;
    font-size: 0.8em;
}

input#mng_event_name{
    font-size: 0.8em;
    font-family: fantasy;
}

button.mng_add_item{
    margin-top:10px;
}
span.handle{
    float:left;
    transform: scale(2);
    margin-right: 5px;
}
    

/* order_list.php */
div#olist_orders_container{
    width: 90%;
    margin: 0 auto;
    height: 95%;
    overflow-y: auto;
}

/* report.php */
div#report_container{
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.3em;
}
div.report_catname{
    font-weight: bold;
    font-size: 1.2em;
    width: 80%;
    margin: 20px auto 5px auto;
    text-align: center;
}
table.report_cat_table{
    width: 80%;
    margin: 0 auto;
}
table.report_cat_table,td,th{
    border: solid 1px #f0f8ff;
    border-collapse:collapse;
    padding: 10px;
}
div#report_total{
    width: 70%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
}
/* admin.php */

div.admin_opt_block{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #606080;
    font-size: 1.2em;
}
div#admin_messagebox{
    text-align: center;
     font-size: 1.5em;
    color: red;
}

tr.active_event{
    background-color: #f0f8ff;
    color: #000000;
}