html, body{
    width: 210mm;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: #ffffff;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
}

.page_a5{
    width: 200mm;
    height: 138mm;
    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 5mm;
    margin-right: 5mm;
    clear: both;
}

.invisible{
    color: #ffffff;
    overflow-y:hidden;
}

.aligner{
    height: 120mm;
}

.font_items{
    font-size: 5mm;
}
